* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(147, 116, 197);
  overflow-x: hidden;
}

.sidenav .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.sidenav a .fas {
  width: 25px;
}

/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidenav a {
    text-align: center;
    float: none;
  }
}

/* Style the content */
.content {
  margin-left: 200px;
  padding: 20px;
}

/* Style content header */
.content .header{
  background: #fff;
  color: black;
  border-bottom: 5px solid #000000;
}

/* Style content info */
.content .info{
  margin: 20px;
  color: rgb(0, 0, 0);
  padding-top: 20 px;
 
}

.tab {
  padding-left: 500px;
}

/* Set a style for all buttons */
 button {
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 100%;
   position: left;
 }

 .content .button{
   align-items: left;
}
/* Extra style for the save button (green) */
.savebtn {
  width: auto;
  padding: 5px;
  margin: 2px;
  background-color: rgb(74, 190, 74);
}
 /* Extra style for the delete button (red) */
 .deletebtn {
  width: auto;
  padding: 5px;
  margin:2px;
  background-color: #ff5347;
}

 /* Extra style for the add button (green) */
 .addbtn {
  width: auto;
  padding: 5px;  
  margin:2px;
  background-color: rgb(74, 190, 74);
}
 /* Extra style for the edit button (grey) */
 .editbtn {
  width: auto;
  padding: 5px;  
  margin:2px;
  background-color: rgb(184, 184, 184);
}

table, td, th{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  padding-bottom: 20px;
}

/* Columns */
.left-column {
width: 65%;
position: relative;
}

.right-column {
width: 350%;
margin-top: 60px;
}

.left-column img {
width: 90%;
padding: 60px;
float: left;
width:  600px;
height: auto;
object-fit: cover;
}

  /* Responsive layout  */
  @media screen and (max-width: 600px) {
    .container{
      width: 100%;
      flex-direction: column;
    }
    .left-column{
      width: 100%;
    }
    .right-column{
      width: 100%;
    }
    .left-column img{
      max-width: 100%;
    }

    .form{
        width: 100%;
        flex-direction: column;
      }
  
    .table-responsive{
      width: 100%;
      flex-direction: column;
    }
  }

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }

  .center {
    margin-left: auto;
    margin-right: auto;
    border: 1;
  }