body {

    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: forestgreen;
}

.nav {
    background-color :forestgreen;
    color:rgb(0, 0, 0);
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;
}

.nav > li {
    display: inline-block;
    padding: 0 25px 0 25px;
    font-size: 15px ;
}

.nav > li > a {
    text-decoration: none;
    color: ghostwhite;
}

.nav > li > a:hover {
    color: goldenrod;
}

.logo {

    color:honeydew;
    float: left;
    padding-left: 20px;
    font-size: 16px;
    font-weight: bold;
   

}

.logo > a {
    text-decoration:none;
    color: goldenrod;
}

.banner{
    width: 100% ;
    display: block;
}

.banner > .banner-image {
    width: 100%;
    display: block;
}


