*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.logo{
  margin-left: 25px;
}

.navbar{
    display: flex;
    flex-grow: 0;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
}

nav{
  flex:1;
  text-align: right;
}

.navbar-links ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li{
  display: inline-block;    
  list-style-type: none; 
}

nav ul li{
  display: inline-block; 
  margin-right: 20px;   
}

.navbar-links li a {
  text-decoration: none;
  color: black;
  display: block;
}

.navbar-links li a:hover{
color: #2d52cc;
}

.toggle-button {
  position: absolute;
  top: 3.5rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 25px;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

@media(max-width: 600px){
  .toggle-button{
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul{
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: rgb(252, 203, 211);
  }
  .navbar-links li {    
    text-align: center;
    flex-direction: column;
  }
  
  .navbar-links li a {
    padding: .5rem 1rem;
  }
  .navbar-links.active {
    display:flex;
  }

}



.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/*----Front page banner-----*/
.banner{
    width: 100% ;
    display: block;
}

.banner > .banner-image {
    width: 100%;
    display: block;
}

/*------ Bordered form -------*/
div.form
{
    display: block;
    text-align: center;    
    font-family: Arial, Helvetica, sans-serif;
}

form {
    border: 3px solid #f1f1f1;
    width: 50%;
    box-align: center;    
    padding: 16px;
    display: inline-block;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }
 
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color:#369939;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
    
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }

  /*The "Sign up" text */
  span.signup{
    float: left;
    padding-top: 16px;
  }
   /*The "Sign In" text */
   span.signin{
    float: left;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }

 /*----Footer----*/ 

.footer {  
  font-family: Arial, Helvetica, sans-serif;  
  background-color: pink;  
  color:black;  
  text-align: center;
  clear: both;
  position: relative;
  bottom: 0;
  width: 100%; 
}

/*----------Aisles-------------*/
.Aisles {
  margin: 50px 0;;
}
.Aisles img {
  width: 100%;
  padding: 20px 0;
  transition: 1s;
  cursor: pointer;
}

.Aisles img:hover{
  transform: scale(1.1)
}

/*------AISLES DROPDOWN MENU------*/

.dropdown {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  position: absolute;
  margin-left: 50%;
  margin-top: 20%;
  transform: translate(-50%, -50%);
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: pink;
}

/* Dropdown Button */
.dropbtn {
  background-color: pink;
  color: black;
  cursor: pointer;
  
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  color: #2d52cc;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display:inline-block
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  text-align: left;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

body{
  background-image: url(apless.jpg);
}